<link href="/assets/lpp_co/css/fonts.css" rel="stylesheet" type="text/css">
<style>
	.print-format {
		padding: 0;
		margin-left: 3mm;
		margin-right: 3mm;
		margin-top: 3mm;
		margin-bottom: 3mm;
		line-height: 1.7;
		font-size: 11px;
		font-family: "NotoSansThaiLooped";
	}
	.square-box {
		padding-left: 4px !important;
		padding-right: 4px !important;
		padding-bottom: 8px !important;
		page-break-inside: avoid;
	}
	.card {
		border: 1px solid #000000;
		padding: 5px;
	}
	.qr_code {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 80px;
		height: 80px;
	}
	.company {
		font-size: 14px;
	}
	.company * {
		color: #3a7eb8;
	}
	.logo {
		height: 25px;
	}
</style>
<div class="row section-break">
	<div class="col-xs-12 text-right">
		{{ qty }}
	</div>
</div>
<div class="row section-break">
	{% for i in range(card_number) %}
		<div class="col-xs-6 square-box">
			<div class="card">
				<div class="row section-break">
					<div class="col-xs-12">
						<p>
							<strong>Customer</strong>
							{{ customer_name or "-"}}
						</p>
						<p>
							<div class="row section-break">
								<div class="col-xs-6">
									<strong>UTL Vendor Code</strong> {{ utl_vendor_code or "-" }}
								</div>
								<div class="col-xs-6">
									<strong>Manufacturer Code</strong> {{ manufacturer_code or "-" }}
								</div>
							</div>
						</p>
						<p>
							<strong>UTL PO No.</strong> {{ utl_po_no or "-" }}
						</p>
						<p>
							<strong>Item Name</strong>
							{{ item_name or "-" }}
						</p>
					</div>
				</div>
				<div class="row section-break">
					<div class="col-xs-9">
						<p>
							<strong>UTL Part No.</strong>
							{{ customer_part_no or "-" }}
						</p>
						<p>
							<strong>Quantity</strong>
							{{ quantity or "-" }}
						</p>
						<p>
							<div class="row section-break">
								<div class="col-xs-6" style="padding-right: 0px;">
									<strong>Batch No.</strong>
									{{ batch_no or "-" }}
								</div>
								<div class="col-xs-6">
									<strong>Job Card No.</strong>
									_________
								</div>
							</div>
						</p>
						<p>
							<div class="row section-break">
								<div class="col-xs-6"">
									<strong>MFG</strong>
									{{ mfg_date or "-" }}
								</div>
								<div class="col-xs-6"">
									<strong>EXP</strong>
									{{ exp_date or "-" }}
								</div>
							</div>
						</p>
					</div>
					<div class="col-xs-3">
						<img class="qr_code" src="{{ get_qr_code(qr_code_data) }}"/>
					</div>
				</div>
				<div class="row section-break">
					<div class="col-xs-8">
						<p class="company">
							<strong>{{ company_name or "" }}</strong>
						</p>
						<p>
							{{ country_of_origin or "" }}
						</p>
					</div>
					<div class="col-xs-4 text-right">
						<img class="logo" src="/assets/lpp_co/images/label-1.png" alt="Logo">
						<img class="logo" src="/assets/lpp_co/images/label-2.png" alt="Logo">
						<img class="logo" src="/assets/lpp_co/images/label-3.png" alt="Logo">
					</div>
				</div>
				<div class="row section-break">
					<div class="col-xs-12">
						<small>{{ storage_instructions or "" }}</small>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
