<link href="/assets/lpp_co/css/fonts.css" rel="stylesheet" type="text/css">
<style>
	.print-format {
		padding: 0;
		margin-left: 3mm;
		margin-right: 3mm;
		margin-top: 3mm;
		margin-bottom: 3mm;
		line-height: 1.7;
		font-size: 13px;
		font-family: "NotoSansThaiLooped";
	}
	.square-box {
		padding-left: 4px !important;
		padding-right: 4px !important;
		padding-bottom: 8px !important;
		page-break-inside: avoid;
	}
	.card {
		border: 1px solid #000000;
		padding: 5px;
	}
</style>

<div class="row section-break">
	{% for i in range(card_number) %}
		<div class="col-xs-6 square-box">
			<div class="card">
				<div class="row section-break">
					<div class="col-xs-12">
						<strong>Item Name</strong>
						{{ item_name or "-" }}
					</div>
				</div>
				<div class="row section-break">
					<div class="col-xs-12">
						<strong>Batch No.</strong>
						{{ batch_no or "-" }}
					</div>
				</div>
				<div class="row section-break">
					<div class="col-xs-5">
						<strong>MFG</strong>
						{{ mfg_date or "-" }}
					</div>
					<div class="col-xs-7">
						<strong>Weight</strong> ______________ Kilograms
					</div>
				</div>
				<div class="row section-break">
					<div class="col-xs-5">
						<strong>EXP</strong>
						{{ exp_date or "-" }}
					</div>
					<div class="col-xs-7">
						<strong>Supplier Batch No.</strong> _____________
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
