<!-- {% set value = get_company_info() %} -->
<div >
    <div class="gj-row">
        <div class="gj-col-2 width-logo">
            <h4 class="text-left ">
                <img class="w-100 max-width-logo" src="/assets/lpp_co/images/lpp-logo.png" alt="Logo">
            </h4>
        </div>
        <div class="gj-col-5 mt-2">
            <!-- <h4 class="my-0">{{value.company_name_en}}</h4>
            <h4 class="my-0">{{value.company_name_th}}</h4> -->
			<h4 class="my-0">LAMPHUN PLASTPACK CO., LTD.</h4>
			<h4 class="my-0">บริษัท ลำพูนพลาสแพค จำกัด</h4>
		</div>
        <div class="gj-col-5 text-right">
            <p class="fs-contact">Page {{page}}/{{total_page}}</p>
        </div>
    </div>
    <div class="gj-row">
        <div class="gj-col-6">
            <!-- {{value.address | safe}} -->
			<p>55 Moo 15 Om-Muang-Pasang Rd, Tambon Pasak, Amphoe Muang, Lamphun 51000 THAILAND</p>
			<p>Tel (+66) 53 53 7661 | Fax (+66) 53 58 4418</p>
			<p>info@lplastpack.com | www.lplastpack.com</p>
			<p>Headquarters Tax ID 0515538000431</p>
        </div>
        <div class="gj-col-6">
            <h1 class="text-right my-0">
                {{title_th}}
            </h1>
            <h1 class="text-right my-0">
                {{title_en}}
            </h1>
        </div>
    </div>
</div>
