<link href="/assets/lpp_co/css/fonts.css" rel="stylesheet" type="text/css">
<head>
    <meta name="pdfkit-page-width" content="11.69in">
    <meta name="pdfkit-page-height" content="8.27in">
</head>
<style>
	.print-format {
		padding: 0;
		margin-left: 3mm;
		margin-right: 3mm;
		margin-top: 3mm;
		margin-bottom: 3mm;
		line-height: 1.7;
		font-size: 10px;
		font-family: "NotoSansThaiLooped";
	}
	.square-box {
		padding-left: 8px !important;
		padding-right: 8px !important;
		padding-bottom: 8px !important;
		page-break-inside: avoid;
	}
	.card {
		width: 14cm;
		height: 1.2cm;
		border: 1px solid #000000;
		padding: 5px;
	}
	.nowrap {
		white-space: nowrap;
	}
</style>

<div class="row section-break nowrap">
	{% for i in range(card_number) %}
		<div class="col-xs-6 square-box">
			<div class="card">
				<div class="row section-break">
					<div class="col-xs-7">
						{{ item_name or "-" }}
					</div>
					<div class="col-xs-5">
						<strong>Weight</strong> ______________ Kgs.
					</div>
				</div>
				<div class="row section-break">
					<div class="col-xs-3">
						{{ batch_no or "-" }}
					</div>
					<div class="col-xs-2">
						<strong>MFG</strong>
						{{ mfg_date or "-" }}
					</div>
					<div class="col-xs-2">
						<strong>EXP</strong>
						{{ exp_date or "-" }}
					</div>
					<div class="col-xs-5">
						_______________________________________
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
